:root{
    --tipografia:'Poppins', sans-serif;
    --tipografia2:'Bodoni Moda', serif;
    --color--letras: #191919;
    --backgroud--color: #303440;
    --tamaño--letra: 20px;
    --tamaño--letra--titulo: 40px;
    --color-fondo:#0000;
    --rectangulos:#EFFFC2;
    --color-letra-darkmode: #6967CA;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--tipografia);
    scroll-behavior: smooth;
}

body{
    background: #FFFFFF;
    cursor: url(../portafolio/elementos/cursor-redondo.png);
}

body::-webkit-scrollbar{
    width: 0px;
}

body.dark{
    background: #303440;
    transition: .5s all ease;
}


body.dark .ul{
    background: var(--color-letra-darkmode);
}

body.dark #icono-menu{
    filter: invert();
}

body.dark .home__titulo{
    color: var(--color-letra-darkmode);
}

body.dark .section3{
    background: #fff;
}

body.dark .parallaxspace{
    color: var(--color--letras);
}

body.dark .slider__buton{
    background: var(--backgroud--color);
    cursor: pointer;
}

body.dark .slider__buton:hover{
    background: #EFFFC2;
}

body.dark .nav__link--inside:hover{
    background: #5E5CBD;
    color: #fff;
}

body.dark .home__sub-titulo{
    color: var(--color-letra-darkmode);
}

body.dark .home__by{
    color: #fff;
}

body.dark .aboutme{
    color: var(--color-letra-darkmode);
}

body.dark .aboutme__parrafo{
    color: #fff;
}

body.dark .seemore__proyect{
    color: #fff;
}

body.dark .seemore__proyect:hover{
    color: #191919;
}

body.dark .seemore::after{
    background: var(--color-letra-darkmode);
}

body.dark .seemore:hover:after{
    background: var(--rectangulos);
}

body.dark .seemore:hover::before{
    background: var(--rectangulos);
}

body.dark .seemore::before{
    background: var(--color-letra-darkmode);
}

body.dark .seemore__proyect a{
    color: #fff;
}

body.dark .seemore__proyect a:hover{
    text-decoration: none;
    color: var(--color--letras);
}

body.dark .proyectos{
    color: var(--color-letra-darkmode);
}

body.dark .slider__buton2{
    background: #fff;
}

body.dark .slider__buton2:hover{
    background: var(--color-letra-darkmode);
}

body.dark .section4{
    background: #fff;
}

body.dark .titulo__cv{
    color: var(--color-letra-darkmode);
}

body.dark .subtitulo__cv{
    color: var(--color-letra-darkmode);
}

body.dark .download{
    color: var(--color-letra-darkmode);
}

body.dark .skills__learned img{
    filter: invert();
}

body.dark .content__back{
    background: #5E5CBD;
}

body.dark .titulo__back{
    color: #FFFFFF;
}

body.dark .titulo__front{
    color: #FFFFFF;
}

body.dark .titulo__sec5{
    color: var(--color-letra-darkmode);
}

body.dark .p__sec5{
    color: #FFFFFF;
}

body.dark .txt__footer{
    background: #FFFFFF;
}

body.dark .redes{
    color: #191919;
}

body.dark .img__redes{
    filter: invert(0);
}

body.dark .img__redes2{
    filter: invert(0);
}

body.dark .titulo__footer{
    color: #191919;
}

body.dark .terminos__servicios{
    color: #191919;
}

body.dark .copy{
    color: #191919;
}
/*MODO NOCTURNO*/

.switch{
    background: #C4C4C4;
    position: relative;
    border: none;
    border-radius: 1000px;
    outline: none;
    display: flex;
    outline: none;
    margin-left: 90%;
    position: fixed;
    cursor: pointer;
}

.activeDos{
    background: #191919;
    color: #fff;
}

.switch.activeDos::after{
    content: '';
    right: 0;
    left: unset;
    background: #fff;
} 

span{
    width: 25px;
    height: 25px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

span .moon{
    color: #191919;
}

.switch::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: var(--backgroud--color);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s all ease;
}


/*CURSOR*/


.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    transition: .2s all;
    transform: translate(-50%,-50%) translateZ(0) scale(1);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 10000;
}

.cursor2{
    position: fixed;
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: .1s all;
    transform: translate(-50%,-50%) translateZ(0) scale(1);
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: difference;

}

.cursor .isLinkHovered{
    transform: scale(0.75) translateZ(0);
}

.cursor .is-hidden{
    opacity: 0;
}


.content__titulo h1:hover ~ .cursor{
    transform: scale(6);
}

.header{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

/*.header i{
    position: absolute;
    background: #191919;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0) translateZ(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px) translateZ(0);
    }
}
*/
.menu{
    margin: 50px 50px;
    position: relative;
    z-index: 10;
}

.active{
    transform: translate(-400px);
}

.opacity{
    transition: all .5s ease;
}

.menu img{
    vertical-align: top;
    width: 20px;
    cursor: pointer;
    position: fixed;
}


.img__svg{
    object-fit: cover;
    max-width: 18px;
    filter: invert();
}

.nav{
    width: 250px;
    position: fixed;
    z-index: 10000;
}

.ul{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--backgroud--color);
    transition: all .3s;
}


.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    
}

.list__item--click{
    cursor: none;
}

.ul__button{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    
}

.list__arrow{
    margin-left: auto;
    transition:  transform .2s;
    cursor: none;

}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.nav__link{
    color: var(--color--letras);
    text-decoration: none;
    display: block;
    padding: 15px 0;
    color: #eae8e8;
}

.nav__link--inside:hover{
    background: #eae8e8;
    color: #191919;
}

.nav__link--inside{
    padding-left: 20px;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left:  2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.home{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content{
    margin-left: 2s0px;
}


.home__sub-titulo{
    font-family: var(--tipografia2);
    font-size: 50px;
    font-weight: 200;
    position: relative;
    z-index: 10;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content__titulo .home__sub-titulo::after{
    content: '';
    display: inline-block;
    width: 32%;
    height: 14px;
    left: 325px;
    top: 60%;
    position: absolute;
    background: var(--rectangulos);
    z-index: -1;
}

.home__by{
    font-family: var(--tipografia2);
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
}

.home__titulo{
    font-family: var(--tipografia2);
    font-size: 150px;
    font-weight: 200;
    position: relative;
    z-index: 10;
    letter-spacing: 3px;
}

.anim{
    opacity: 0;
}

.content__titulo2 .home__titulo::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 60%;
    position: absolute;
    background: var(--rectangulos);
    z-index: -1;
}


/*ABOUT ME*/

.section{
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.img{
    width: 392px;
    object-fit: cover;
    height: 279px;
    transition: .2s all;
    box-shadow: 1px 4px 17px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: 1px 4px 17px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 4px 17px 1px rgba(0,0,0,0.23);
    z-index: -1;

}   


.content__img{
    display: flex;
    flex-wrap: wrap;
}



.imagenes{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 70px;

}

.last{
    margin-top: 150px;
    max-width: 300px;
    margin-left: 50px;
}

.first{
    margin-left: 50px;
    margin-top: -30px;
}

.medium{
    margin-left: 150px;
}

.txt{
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 200px;
    z-index: 200;
    margin-top: 70px;
}

.aboutme{
    font-family: var(--tipografia2);
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}

.aboutme::after{
    content: '';
    display: inline-block;
    width: 33%;
    height: 20px;
    left: 33%;
    top: 50px;
    position: absolute;
    background: var(--rectangulos);
    z-index: -1;
}

.aboutme__parrafo{
    font-family: var(--tipografia2);    
    font-size: 20px;
    font-weight: 200;
}

/*proyectos*/

.section2{
    width: 100%;
    height: 150vh;
    overflow: hidden;
    margin: 0 auto;
}


.txt3{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}


.slider__pro{
    width: 80%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 110px;
}

.slider__section2{
    width: 100%;
}
 
.slider__buton2{
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100px;
    background: var(--backgroud--color);
    transition: .3s all ease;
}

.slider__buton2:hover{
    background: var(--color-letra-darkmode);
}


.slider__buton--R{
    right: 10px;
}

.slider__buton--L{
    left: 10px;
}

.slider__imgen2{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider2{
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}

.seemore{
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 100px;
    margin: auto;
}



.seemore__proyect{
    font-family: var(--tipografia);
    font-size: 25px;
    text-align: center;
    transition: .4s all ease;
    margin-top: 48px;
    position: relative;
}

.seemore__proyect a{
    text-decoration: none;
    color: var(--color--letras);
}

.seemore__proyect a:hover{
    color: #fff;
}

.seemore__proyect::after{
    content: '';
    display: inline-block;
    width: 30%;
    height: 14px;
    left: 50%;
    top: 0;
    position: absolute;
    background: var(--rectangulos);
    z-index: -1;
    transition: .3s all ease;
}


.seemore__proyect::before{
    content: '';
    display: block;
    width: 40%;
    height: 20px;
    left: 10px;
    top: 20px;
    position: absolute;
    background: var(--rectangulos);
    z-index: -1;
    transition: .5s all ease;
}

.seemore__proyect:hover:before{
    top: 0px;
    width: 55%;
    height: 40px;
    background: var(--color-letra-darkmode);
    left: -10px;
}

.seemore__proyect:hover::after{
    top: 0px;
    width: 55%;
    height: 40px;
    background: var(--color-letra-darkmode);
    right: -10px;
}
/*PARALLAX SPACE*/

.section3{
    width: 95%;
    height: 110vh;
    margin: 0 auto;
    background: var(--backgroud--color);
    overflow: hidden;
}

.txt2{
    text-align: center;
}

.parallaxspace{
    font-family: var(--tipografia2);
    font-weight: 200;
    font-size: 100px;
    color: #fff;
}

.slider__imgen{
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}

.slider__img{
    width: 90%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-left: 45px;
}

.slider__section{
    width: 100%;
}
 
.slider__buton{
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100px;
    background: #fff;
    transition: .3s all ease;
}

.slider__buton:hover{
    background: var(--color-letra-darkmode);
}



.slider__buton--de{
    right: 10px;
}

.imagenes2{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

/*c.v*/

.section4{
    width: 95%;
    height: 100vh;
    margin-top: 200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: var(--backgroud--color);
}

.txt4{
    text-align: left;
    display: block;
}

.titulo__cv{
    font-size: 100px;
    margin-left: 100px;
    margin-top: 100px;

    color: #fff;
}

.subtitulo__cv{
    font-size: 40px;
    margin-left: 102px;
    color: #fff;
}

.boton__download{
}

.bubble{
    content: '';
    width: 250px;
    height: 250px;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    background: var(--color-letra-darkmode);
    animation: wave 5s linear infinite;
    transform: translateX(600px)translateY(-130px);
    position: absolute;
}

@keyframes wave {
    20%{
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }
    40%{
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }
    60%{
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }
    80%{
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}

.download{
    transform: translateX(800px);
    width: 200px;
    height: 50px;
    padding: 5px 0;
    background: var(--rectangulos);
    text-align: center;
    z-index: 1000;
    position: relative;
}

.download a{
    text-decoration: none;
    color:var(--color--letras);
}

.imagenes__cv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__cv{
    width: 300px;
    object-fit: cover;
}


/*FOOTER*/

.footer{
    width: 100%;
    height: 50vh;
    margin-top: 200px;
}

.txt__footer{
    width: 100%;
    height: 50vh;
    background: var(--backgroud--color);
}

.titulo__footer{
    text-align: center;
    font-family: var(--tipografia2);
    color: #fff;
    font-weight: 200;
}

.ul__footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 150px;
    color: #fff;
}

.ul__footer2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    flex-direction: column;
    margin-right: 150px;
    margin-top: -150px;
    color: #fff;
}

.li__footer2{
    text-align: right;
    list-style: none;
    cursor: pointer;
    color: #737373;
    font-size: 17px;
    margin-top: 30px;
}

.li__footer{
    text-align: left;
    list-style: none;
    cursor: pointer;
    font-size: 17px;
    transition: .3s;
    color: #737373;
    margin-top: 20px;
}

.li__footer h3{
    font-family: var(--tipografia2);
    font-weight: 200;
}

.li__footer a{
    text-decoration: none;
    color: #FFFFFF;
    transition: .3s ;
}

.li__footer a:hover{
    font-size: 20px;
    color: #d8d8d8;
}

.img__redes{
    margin-right: 20px;
    width: 20px;
    filter: invert(1);
}

.img__redes2{
    margin-left: 20px;
    width: 20px;
    filter: invert(1);
}

.terminos{
    text-align: center;
    margin-top: 50px;
}

.terminos__servicios{
    font-family: var(--tipografia2);
    color: #FFFFFF;
}

.copy{
    font-family: var(--tipografia2);
    color: #FFFFFF;
}

/*TECNOLOGIAS*/

.section5{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

.container__skills{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
}

.front_end{
    width: 50%;
    height: 100%;
}

.back_en{
    width: 50%;
    height: 100%;
}

.content__back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background: #303440;
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
}

.content__front{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.fondo__skills{
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
}

.titulo__back{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.titulo__front{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills__learned{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.skills__learned2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.skills__learned img{
    width: 70px;
    height: 70px;
    z-index: 2;
    position: relative;
    transition: .3s ease;
    cursor: pointer;
}

.skills__learned2 img{
    width: 50px;
    height: 50px;
    filter: invert();
    z-index: 2;
    position: relative;
}


.txt5{
    text-align: center;
}

.titulo__sec5{
    font-size: 50px;
}

.p__sec5{
    font-size: 15px;
}

.skills__learned2 .approved{
    width: 15px;
    height: 15px;
}

.skills__learned .approved{
    width: 15px;
    height: 15px;
}

.box{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box a{
    text-decoration: none;
}

.box::after{
    content: 'Boostrap';
    text-align: center;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #5E5CBD;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -11px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box:hover::before{
    transform: translateY(-30px);
    opacity: 1;
}


.box2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box2 a{
    text-decoration: none;
}

.box2::after{
    content: 'Sass';
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #cf649a;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box2:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box2::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box2:hover::before{
    transform: translateY(-30px);
    opacity: 1;
}



.box3{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box3 a{
    text-decoration: none;
}

.box3::after{
    content: 'J.S';
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #f7df1e;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box3:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box3::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box3:hover::before{
    transform: translateY(-30px);
    opacity: 1;
}



.box4{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box4 a{
    text-decoration: none;
}

.box4::after{
    content: 'Html';
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #ff7d4a;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box4:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box4::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box4:hover::before{
    transform: translateY(-30px);
    opacity: 1;
}

.box5{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box5 a{
    text-decoration: none;
}

.box5::after{
    content: 'Css';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #2965f1;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box5:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box5::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box5:hover::before{
    transform: translateY(-30px);
    opacity: 1;

}

.box6{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box6::after{
    content: 'Node Js';
    text-align: center;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #7cce3c;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box6::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -10px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box6:hover::before{
    transform: translateY(-30px);
    opacity: 1;

}

.box6 a{
    text-decoration: none;
}

.box6:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.box7{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.box7::after{
    content: 'Php';
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #8993c1;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}
.box7::before{
    content: url(../portafolio/bx-link-external.svg);
    filter: invert();
    text-align: center;
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box7:hover::before{
    transform: translateY(-30px);
    opacity: 1;

}


.box7 a{
    text-decoration: none;
}

.box7:hover::after{
    transform: translateY(0);
    opacity: 1;

}


.box8{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.box8 a{
    text-decoration: none;
}

.box8::before{
    content: url(../portafolio/bx-link-external.svg);
    text-align: center;
    filter: invert();
    font-weight: bold;
    top: 110px;
    left: -5px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box8:hover::before{
    transform: translateY(-30px);
    opacity: 1;

}

.box8::after{
    content: 'MySql';
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    top: 80px;
    left: -10px;
    width: 110px;
    height: 25px;
    background: #ffa4ca;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: 1s all ease;
    transform: translateY(-100px);
    opacity: 0;
}

.box8:hover::after{
    transform: translateY(0);
    opacity: 1;
}


@keyframes anim2 {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (max-width: 1024px)  { 
    .header{
        display: flex;
        width: 1023px;
        height: 100vh;
        position: relative;
        background-attachment: fixed;
    }
    .home{
        width: 100%;
        height: 100vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 160px;
        margin-top: 30px;
    }
    
    
    .home__sub-titulo{
        font-family: var(--tipografia2);
        font-size: 30px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-left: 160px;
    }
    
    .content__titulo .home__sub-titulo::after{
        content: '';
        display: inline-block;
        width: 32%;
        height: 14px;
        left: 10px;
        top: 60%;
        position: absolute;
        background: var(--rectangulos);
        z-index: -1;
    }
    
    .home__by{
        font-family: var(--tipografia2);
        font-size: 17px;
        font-weight: 200;
        letter-spacing: 2px;
        margin-left: 160px;

    }
    
    .home__titulo{
        font-family: var(--tipografia2);
        font-size: 120px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 3px;
        margin-left: 160px;

    }
    
    
    .content__titulo::after{
        content: '';
        display: inline-block;
        width: 45%;
        height: 67px;
        left: 150px;
        top: 65%;
        position: absolute;
        background: var(--rectangulos);
        z-index: 9;
    }

    .switch{
        background: #C4C4C4;
        position: relative;
        border: none;
        cursor: none;
        border-radius: 1000px;
        outline: none;
        display: flex;
        outline: none;
        margin-left: 75%;
        position: fixed;
    }

}

@media screen and (max-width: 900px){
    .header{
        display: flex;
        width: 1023px;
        height: 100vh;
        position: relative;
        background-attachment: fixed;
    }
    .home{
        width: 100%;
        height: 100vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 160px;
        margin-top: 30px;
    }
    
    
    .home__sub-titulo{
        font-family: var(--tipografia2);
        font-size: 30px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-left: 160px;
    }
    
    .content__titulo .home__sub-titulo::after{
        content: '';
        display: inline-block;
        width: 32%;
        height: 14px;
        left: 10px;
        top: 60%;
        position: absolute;
        background: var(--rectangulos);
        z-index: -1;
    }
    
    .home__by{
        font-family: var(--tipografia2);
        font-size: 17px;
        font-weight: 200;
        letter-spacing: 2px;
        margin-left: 160px;

    }
    
    .home__titulo{
        font-family: var(--tipografia2);
        font-size: 100px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 3px;
        margin-left: 160px;

    }
    
    
    .content__titulo::after{
        content: '';
        display: inline-block;
        width: 40%;
        height: 67px;
        left: 150px;
        top: 62%;
        position: absolute;
        background: var(--rectangulos);
        z-index: 9;
    }

    .switch{
        background: #C4C4C4;
        position: relative;
        border: none;
        cursor: none;
        border-radius: 1000px;
        outline: none;
        display: flex;
        outline: none;
        margin-left: 77%;
        position: fixed;
    }
}

@media screen and (max-width: 800px){
    .header{
        display: flex;
        width: 1023px;
        height: 100vh;
        position: relative;
        background-attachment: fixed;
    }
    .home{
        width: 100%;
        height: 100vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 160px;
        margin-top: 30px;
    }
    
    
    .home__sub-titulo{
        font-family: var(--tipografia2);
        font-size: 30px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-left: 160px;
    }
    
    .content__titulo .home__sub-titulo::after{
        content: '';
        display: inline-block;
        width: 32%;
        height: 14px;
        left: 10px;
        top: 60%;
        position: absolute;
        background: var(--rectangulos);
        z-index: -1;
    }
    
    .home__by{
        font-family: var(--tipografia2);
        font-size: 17px;
        font-weight: 200;
        letter-spacing: 2px;
        margin-left: 160px;

    }
    
    .home__titulo{
        font-family: var(--tipografia2);
        font-size: 100px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 3px;
        margin-left: 160px;

    }
    
    
    .content__titulo::after{
        content: '';
        display: inline-block;
        width: 40%;
        height: 67px;
        left: 150px;
        top: 62%;
        position: absolute;
        background: var(--rectangulos);
        z-index: 9;
    }

    .switch{
        background: #C4C4C4;
        position: relative;
        border: none;
        cursor: none;
        border-radius: 1000px;
        outline: none;
        display: flex;
        outline: none;
        margin-left: 78%;
        position: fixed;
    }
}


@media screen and (max-width: 700px){
    .header{
        display: flex;
        width: 1023px;
        height: 100vh;
        position: relative;
        background-attachment: fixed;
    }
    .home{
        width: 100%;
        height: 100vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 160px;
        margin-top: 30px;
    }
    
    
    .home__sub-titulo{
        font-family: var(--tipografia2);
        font-size: 30px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-left: 160px;
    }
    
    .content__titulo .home__sub-titulo::after{
        content: '';
        display: inline-block;
        width: 32%;
        height: 14px;
        left: 10px;
        top: 60%;
        position: absolute;
        background: var(--rectangulos);
        z-index: -1;
    }
    
    .home__by{
        font-family: var(--tipografia2);
        font-size: 17px;
        font-weight: 200;
        letter-spacing: 2px;
        margin-left: 160px;

    }
    
    .home__titulo{
        font-family: var(--tipografia2);
        font-size: 100px;
        font-weight: 200;
        position: relative;
        z-index: 10;
        letter-spacing: 3px;
        margin-left: 160px;

    }
    
    
    .content__titulo::after{
        content: '';
        display: inline-block;
        width: 40%;
        height: 67px;
        left: 150px;
        top: 62%;
        position: absolute;
        background: var(--rectangulos);
        z-index: 9;
    }

    .switch{
        background: #C4C4C4;
        position: relative;
        border: none;
        cursor: none;
        border-radius: 1000px;
        outline: none;
        display: flex;
        outline: none;
        margin-left: 80%;
        position: fixed;
    }
  
}
